- unless @current_tags.empty?
  %p
    Current Categories: #{@current_tags.map(&:name).join(', ')}

- if current_user.present?
  = render(partial: 'new_entry_form', locals: {entry: @entry, current_tags: current_tags})

- @entries.each do |entry|
  .entry{id: "entry-#{entry.id}"}
    %h3.title= best_in_place(entry, :title, as: :input)
    .content~ best_in_place(entry, :content, as: :textarea, ok_button: 'Save', cancel_button: 'Cancel', display_with: lambda { |content| GitHub::Markdown.render_gfm(content).html_safe }, activator: "#edit-content-#{entry.id}")
    %a{href: '#', id: "edit-content-#{entry.id}"} Edit
